
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(black, #002b5c);
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  padding: 15px 20px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 40px;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
nav a:hover {
  color: #00aaff;
}

header {
  text-align: center;
  padding: 120px 20px 60px;
}
header img {
  width: 160px;
  animation: float 4s ease-in-out infinite;
}
h1 {
  font-size: 45px;
  margin-top: 10px;
}
.motto {
  opacity: 0.8;
  font-style: italic;
  margin-top: 8px;
}

section {
  padding: 70px 20px;
  max-width: 1100px;
  margin: auto;
  animation: fade 0.8s ease;
}
h2 {
  font-size: 32px;
  border-left: 5px solid #00aaff;
  padding-left: 12px;
  margin-bottom: 20px;
}

/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.service-box {
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}
.service-box:hover {
  transform: translateY(-5px);
}

/* GALLERY SCROLLER */
.gallery-wrapper {
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 20px;
  padding-bottom: 10px;
}
.gallery-wrapper img {
  width: 260px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.3s;
}
.gallery-wrapper img:hover {
  transform: scale(1.06);
}

/* TESTIMONIALS */
.testimonial-box {
  background: rgba(255, 255, 255, 0.07);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s;
}
.testimonial-box:hover {
  transform: translateY(-5px);
}

/* WHATSAPP */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: white;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  background-size: 5px;
 
  font-weight: bold;
  box-shadow: 0 0 10px black;
 
}



@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
button{

background-color: blue;
font-size: large;
border-radius: 3rem;
backdrop-filter: blur(12px);
size: 3rem;
}
button:hover{
  transition: ease-in-out;
  transform: scale(1.05);
}
a{
  color: black;
  font-size: x-large;
  font-weight: bolder;
}
